In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("/Users/grebenyukandrey/Downloads/dataset.csv")

In [24]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [25]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df = df[['Survived', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
df.shape

(891, 6)

In [29]:
df.isna().sum()

Survived      0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [30]:
df.dropna(axis=0, inplace=True)
df.shape

(714, 6)

In [31]:
encoder = LabelEncoder()
df['Sex'] = encoder.fit_transform(df['Sex'])
df.head()

   Survived  Sex   Age  SibSp  Parch     Fare
0         0    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         1    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         0    1  35.0      0      0   8.0500

In [32]:
minmax = MinMaxScaler()
stds = StandardScaler()
df_minmax = minmax.fit_transform(df)
df_std = stds.fit_transform(df)

In [34]:
int(round(df_minmax.sum(), 0))

1179

In [36]:
int(round(df_std.sum(),0))

0